log/
pretrained_model/
journal.md
__pycache__/
pointnet2/build/
pointnet2/dist/
pointnet2/pointnet2.egg-info/
scannet/*
scannet/scannet_planes/ 
scannet/scannet_train_detection_data/
.idea/
test_label_*.txt
*.tar.gz
*.png
dump/
scannet/test/
statistics/
statistics_*/
